<% layout('layout') %>
<h2 class="page-title">Something Went Wrong</h2>

<div class="card error-card">
    <h3><%= status %></h3>
  <p><%= message %></p>
</div>

<a href="/" class="btn danger">Go Home</a>
